<app-page-title [title]="title"></app-page-title>

<app-page-body>

    <md-card>

        <md-card-content>

            <div class="row center-xs">
                <div class="col-xs-11">
                    <div class="box">

                        <app-dynamic-form 
                            [questions]="questions"
                            [response]="response"
                            [responseReceived]="responseReceived"
                            [waiting]="waiting"
                            (submitted)="onSubmit($event)"></app-dynamic-form>

                    </div>
                </div>
            </div>

        </md-card-content>

    </md-card>

</app-page-body>
