<div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions" class="form-row">
      <app-dynamic-form-input [question]="question" [form]="form"></app-dynamic-form-input>
    </div>

    <div [ngClass]="{ 'between-xs': responseReceived, 'end-xs': !responseReceived }" class="form-row row middle-xs">
      <div class="col-xs-6" *ngIf="responseReceived">
        <div class="box">
          
          <div class="success-msg" *ngIf="response.success">
            {{ response.message }}
          </div>

          <div class="error-msg" *ngIf="!response.success">
            {{ response.message }}
          </div>

        </div>
      </div>
      <div class="col-xs-2" *ngIf="waiting">
        <div class="box">
          
          <md-progress-circle class="spinner" mode="indeterminate" color="primary"></md-progress-circle>

        </div>
      </div>
      <div class="box">
      
        <button md-raised-button color="primary" type="submit" [disabled]="!form.valid" class="submit-btn">Submit</button>
      
      </div>
    </div>

  </form>

</div>
