.menu-icon {
  padding-right: 16px;
}

.menu-icon:hover {
  cursor: pointer;
}

md-toolbar {
  color: white;
}

.title {
  color: white !important;
  text-decoration: none;
}

.title, .menu-icon {
  font-size: 22px;
}

.logout-btn {
  margin-left: 16px;
}