md-input {
  width: 100%;
}

.radio-group-label {
  margin-top: 0px;
  margin-bottom: 10px;
}

.date-label {
  margin-top: 0px;
  margin-bottom: 0px;
}

.address-label {
  margin-top: 0px;
  margin-bottom: 0px;
}
