<app-page-title 
    [title]="title"
    [sub-title]="subTitle"></app-page-title>

<app-page-body>

    <md-card>
        <md-card-content>

            <div class="row center-xs">
                <div class="col-xs">
                    <div class="box">

                        <app-dynamic-form 
                            [questions]="questions"
                            [response]="response"
                            [responseReceived]="responseReceived"
                            [waiting]="waiting"
                            (submitted)="onSubmit($event)"></app-dynamic-form>

                    </div>
                </div>
            </div>


        </md-card-content>
    </md-card>

    <div class="row end-xs">
        <div class="col-xs">
            <div class="box resend-code" 
                (click)="resendConfirmationCode()">

                    Resend confirmation code

            </div>
        </div>
    </div>

</app-page-body>
