<app-page-title [title]="title"></app-page-title>

<app-page-body *ngIf="userService.$auth | async">

    <md-card>
        <md-card-content>

            <md-list>
                <md-list-item 
                    *ngFor="let attribute of attributes">
                    
                    <app-user-attribute
                        [attribute]="attribute">
                    </app-user-attribute>

                </md-list-item>
            </md-list>

        </md-card-content>
    </md-card>

</app-page-body>

