<div class="row center-xs">
    <div class="col-xs-11">
        <div class="box">

            <h1 class="title text-center">Home</h1>

        </div>
    </div>
</div>

<div class="row center-xs">
    <div class="col-xs-11">
        <div class="box">

            <!--      <h2 class="text-center" *ngIf="user.$auth | async">You are logged in</h2>
            <h2 class="text-center" *ngIf="!(user.$auth | async)">You are not logged in</h2>-->

        </div>
    </div>
</div>

<div class="row center-xs">
    <div class="col-xs-11 col-sm-7 col-md-6 col-lg-4">
        <div class="box">

            <md-card>

                <md-card-content>
                    <p>Welcome to the Ng2 Aws Cognito Example App! All of the source code for this application is in our github repository. All of the user authentication and request authentication in this application is being handled by the Ng2 Aws Cognito library. We're sure that you'll be shocked when you find out how easy and intuitive it is to add login, logout, sign up, and REST api security to your AWS Api Gateway apps.</p>
                </md-card-content>

            </md-card>

        </div>
    </div>
</div>
